# specific to this project
public/progit.pdf

# dependencies
/node_modules
/.pnpm-store
/.yarn/
.yarn/
.yarnrc.yml
yarn-error.log

# testing
/coverage

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
